<section id="about" class="text-center">
    <div class="container">
        <h5>Is Wing for You?</h5>
        <p>Wing is made for those smaller side projects, as it isn't as full featured as Bootstrap, Foundation, etc. Wing styles basic elements, comes with a grid, and some fading animations. Still, what more do you need?</p>
        <br/>
            <p>If you love Wing, then tweet it, star it, or fork it, it really helps &#9825;</p>
        <br/>
        <div class="text-center">
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="SimpleCoolDude1">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            <iframe src="https://ghbtns.com/github-btn.html?user=KingPixil&repo=wing&type=star&count=true" frameborder="0" scrolling="0" width="90px" height="20px"></iframe>
            <iframe src="https://ghbtns.com/github-btn.html?user=KingPixil&repo=wing&type=fork&count=true" frameborder="0" scrolling="0" width="90px" height="20px"></iframe>
        </div>
        <div class="row">
            <div class="col-6">
                <h5>Open Source</h5>
                    <p>Wing is 100% open source, so you can learn from it, and see what happens under the hood. Check it out on <a href="https://github.com/KingPixil/wing" class="gitLink">Github</a>. Make sure to star it! Wing is also released under the <a href="http://kingpixil.github.io/license/" target="_blank">MIT License</a>, allowing you to use it in a variety of projects.</p>
            </div>
            <div class="col-6">
                <h5>Mobile Friendly</h5>
                <p>Wing makes it super-simple to make websites responsive and mobile-friendly. The grid, containers, typography, buttons...everything! It is all mobile-friendly and easy to use.</p>
                <strong>Try Resizing Your Browser</strong>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <h5>Lightweight</h5>
                <p>Wing is only <strong>~4kb</strong> minified. Making it super fast to load and use. You don't need to compile any files, nothing complex. All you do is link to it and you are done. Because of Wing's lightweight file size, it will load much faster than &lt;place-framework-here&gt;</p>
            </div>
            <div class="col-6">
                <h5>Browser Support</h5>
                <p>Wing supports a variety of browsers, including</p>
                <ul>
                    <li>Chrome</li>
                    <li>IE 10+</li>
                    <li>Firefox</li>
                    <li>Opera</li>
                    <li>Safari</li>
                    <li>Edge</li>
                </ul>
            </div>
        </div>
        </div>
    </div>
</section>